<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tyrone.blog.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.tyrone.blog.domain.pojo.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="INTEGER"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>

            <result property="registerIp" column="registerIp" jdbcType="VARCHAR"/>
            <result property="registerAddress" column="registerAddress" jdbcType="VARCHAR"/>
            <result property="activateTime" column="activateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,nickname,password,email,phone,sex,avatar,registerIp,registerAddress,activateTime,isDeleted,createTime,updateTime
    </sql>
    <update id="updateByUsername" parameterType="map">
        UPDATE t_user
        <set>
            <if test="user.email != null">
                email = #{user.email},
            </if>
            <!-- 如果 password 不是空，则更新 password -->
            <if test="user.password != null">
                password = #{user.password},
            </if>
            <if test="user.nickname != null">
                nickname = #{user.nickname},
            </if>
            <if test="user.phone != null">
                phone = #{user.phone},
            </if>
            <if test="user.avatar != null">
                avatar = #{user.avatar},
            </if>
            <if test="user.sex != null">
                sex = #{user.sex}
            </if>

        </set>
        WHERE
            username = #{user.username}
    </update>


</mapper>
